<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head(title='Bierhuis | Error404')"></head>

    <body>
        <nav th:replace="fragments::menu"></nav>
        <h1>Ah, errorpagina's. Ze zullen altijd blijven bestaan.</h1>
        <h2>Error: 404</h2>
        <img th:src="@{/images/404_page_cover.jpg}" alt="error404">
        <p>Onze website doet het even niet. Je kent de procedure waarschijnlijk al:
            probeer over een paar minuten de pagina opnieuw te laden.</p>
    </body>
</html>