<nav th:fragment="menu" xmlns:th='http://www.thymeleaf.org'>
    <ul>
        <li><a th:href="@{/}">Welkom</a></li>
        <li><a th:href="@{/wijnen}">Wijnen</a></li>
        <li><a th:href="@{/soorten}">Soorten</a></li>
        <li><a th:href="@{/landen}">Landen</a></li>
        <li><a th:href="@{/mandje}">Mandje</a></li>
    </ul>
</nav>

<nav class="subnav"  th:fragment="submenu" xmlns:th='http://www.thymeleaf.org'>
    <h1>Wereldwijnen</h1>
    <li><a th:href="@{/landen/1}"><img th:src="@{/images/1.png}" alt="Australië"></a></li>
    <li><a th:href="@{/landen/2}"><img th:src="@{/images/2.png}" alt="Bulgarije"></a></li>
    <li><a th:href="@{/landen/3}"><img th:src="@{/images/3.png}" alt="Duitsland"></a></li>
    <li><a th:href="@{/landen/4}"><img th:src="@{/images/4.png}" alt="Frankrijk"></a></li>
    <li><a th:href="@{/landen/5}"><img th:src="@{/images/5.png}" alt="Italië"></a></li>
    <li><a th:href="@{/landen/6}"><img th:src="@{/images/6.png}" alt="Oostenrijk"></a></li>
    <li><a th:href="@{/landen/7}"><img th:src="@{/images/7.png}" alt="Portugal"></a></li>
    <li><a th:href="@{/landen/8}"><img th:src="@{/images/8.png}" alt="Spanje"></a></li>
    <li><a th:href="@{/landen/9}"><img th:src="@{/images/9.png}" alt="Amerika"></a></li>
    <li><a th:href="@{/landen/10}"><img th:src="@{/images/10.png}" alt="Zuid-Afrika"></a></li>
</nav>

<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" th:href="@{/images/wereldwijnen.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
