<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head(title='Wereldwijn | Mandje')"></head>

    <body>
        <nav th:replace="fragments::menu"></nav>
        <nav th:replace="fragments::submenu"></nav>
        <h1>Mandje</h1>

        <table class="mandje">
            <thead>
            <tr>
                <th>Wijn</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Te betalen</th>
            </tr>
            </thead>

            <tbody class='zebra'>
            <tr th:each="instance : ${wijnen}" th:object="${instance}">
                <td th:text="*{key.soort.land.naam} + ' ' + *{key.soort.naam} + ' ' + *{key.jaar}"/>
                <td th:text="*{key.prijs}"/>
                <td th:text="*{value}"/>
                <td th:text="*{key.prijs} * *{value}"/>
                <td>
                    <form method="get" th:object="${instance.key}" th:action="@{/mandje/verwijder}">
                        <input th:type="submit" value="verwijder">
                        <input th:type="hidden" th:name="id" th:value="${instance.key.id}">
                    </form>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td class="totaalPrijs" colspan="4">Totaal: <strong th:text="${{totaalPrijs}}"></strong></td>
            </tr>
            </tfoot>
        </table>

        <form th:if="${bestelbonform} != null" th:object="${bestelbonform}" th:action="@{/mandje/bestellen}" method="post">
            <label>Naam<span th:errors="*{naam}"></span><input th:field="*{naam}" autofocus required></label>
            <label>Straat<span th:errors="*{straat}"></span><input th:field="*{straat}" required></label>
            <label>Huisnummer<span th:errors="*{huisnummer}"></span><input th:field="*{huisnummer}" required></label>
            <label>Postcode<span th:errors="*{postcode}"></span><input th:field="*{postcode}" type="number" required min="1000" max="9999"></label>
            <label>Gemeente<span th:errors="*{gemeente}"></span><input th:field="*{gemeente}" required></label>
            <input class="leveringstype" type="radio" name="leveringtype" value="afhalen" checked> Afhalen<br>
            <input class="leveringstype" type="radio" name="leveringtype" value="opsturen"> Opsturen<br>
            <input type="submit" value="Als bestelbon bevestigen"> <input type="hidden" name="id" value="0">
        </form>
        <script th:src="@{/js/preventDoubleSubmit.js}"></script>
    </body>
</html>