<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head(title='Wereldwijn | Soorten')"></head>

    <body>
        <nav th:replace="fragments::menu"></nav>
        <nav th:replace="fragments::submenu"></nav>
        <h1>Soorten</h1>
        <ul class="zebra">
            <li th:each="soort:${soorten}" th:object="${soort}">
                <a th:href="@{/soorten/{id}(id=*{id})}" th:text="*{naam}"></a>
            </li>
        </ul>
    </body>
</html>